/* Colors */
.root{
    /* Header */
    --tob-yelloW: #daa520;
    --tob-light-blue: #3161e0;

    /* Main */
    --tob-dark-pink: #ee82ee;
    --tob-blue: #00008b;
    --tob-light-pink: #ffc0cb;
    --tob-turkoise: #1e90ff;
    --tob-light-grey: #d3d3d3;
    --tob-green: #228b22;

    /* Footer */
    --tob-pink: #f08080;
    --tob-sky: #20b2aa;
    --tob-black: #23272a;
    --tob-marine: #7fffd4;

}

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img{
    max-width: 100%;
}

/* Header */

header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #3161e0;
}

.h-container{
    display: flex;
    width: 80%;
    margin: auto;
    line-height: 30px;
    background-color: #3161e0;
}

#debug .h-container{
    background-color: #3161e0;
}


/* Logo Header */
.logo-container{
    display: flex;
    width: 20%;
    align-items: center;
}

.logo{
    margin-left: 2rem;
}

/* Link Header */
.link-container{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-left: 10rem;
    margin-right: 10rem;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.link{
    margin: 3px;
}

/* Login Header */
.login-container{
    display: flex;
    width: 20%;
    justify-content: flex-end;
    align-items: center;
}

.login{
    margin-right: 2rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
}

/* Main - Sezione 1 */
.main-1{
    display: flex;
    margin: auto;
    padding-top: 5rem;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url(./img/jumbo.png);
    background-size: cover;
}

debug .main-1{
    background-color: #00008b;
    height: 500px;
}

.main-1-1{
    width: 60%;
    padding-bottom: 8rem;
}

#debug .main-1-1{
    background-color: #ee82ee;
    border: 3px dashed;
    height: 400px;
}

#title{
    font-size: 50px;
}

#title-text{
    font-size: 24px;
    padding-top: 3rem;
}

#button-1{
    margin-right: 2rem;
    background-color: white;
    padding: 1rem;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    margin-top: 2rem;
}

#button-2{
    margin-right: 2rem;
    background-color: #23272a;
    padding: 1rem;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    color: white;
    margin-top: 2rem;
}

/* Main - Sezione 2 */

.main-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: white;
}

#debug .main-2{
    
    height: 600px;
}

.main-2-1{
    width: 40%;
}

#debug .main-2-1{
    background-color: #1e90ff;
    border: 3px dashed;
    height: 500px;
}

.main-2-2{
    width: 30%;
    color: #23272a;
}

#debug .main-2-2{
    background-color: #ffc0cb;
    border: 3px dashed;
    height: 500px;
}

.section-title{
    font-size: 50px;
    margin-top: 8rem;
    margin-left: 5rem;
    color: #23272a;
}

.section-text{
    font-size: 24px;
    margin-top: 2rem;
    margin-left: 5rem;
    color: #23272a;
}

/* Main - Sezione 3 */

.main-3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: #23272a;
    background-color: #f6f6f6;
    padding-bottom: 10rem;
}

#debug .main-3{
    height: 600px;
}

.section-title-3{
    font-size: 50px;
    margin-top: 8rem;
}

.section-text-3{
    font-size: 24px;
    margin-top: 2rem;
}

.main-3-1{
    width: 30%;
}

#debug .main-3-1{
    background-color: #ffc0cb;
    border: 3px dashed;
    height: 500px;
}

.main-3-2{
    width: 40%;
    margin-left: 5rem;
    margin-top: 10rem;
}

#debug .main-3-2{
    background-color: #1e90ff;
    border: 3px dashed;
    height: 500px;
}

/* Main - Sezione 4 */

.main-4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 10rem;
}

#debug .main-4{
    background-color: white;
    height: 600px;
}

.main-4-1{
    width: 40%;
}

#debug .main-4-1{
    background-color: #1e90ff;
    border: 3px dashed;
    height: 500px;
}

.main-4-2{
    width: 30%;
}

#fandome{
    margin-top: 1rem;
}

#debug .main-4-2{
    background-color: #ffc0cb;
    border: 3px dashed;
    height: 500px;
}

/* Main - Sezione 5 */

.main-5{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}

#debug .main-5{
    background-color: #d3d3d3;
    height: 1000px;
}

.main-5-1{
    width: 80%;
    text-align: center;
}

#debug .main-5-1{
    background-color: #228b22;
    border: 3px dashed;
    height: 900px;
}

#technology{
    font-size: 50px;
    margin-top: 8rem;
    color: #23272a;
}

#technology-text{
    font-size: 24px;
    margin-top: 2rem;
    color: #23272a;
}

#ready{
    font-size: 30px;
    line-height: 110px;
    margin: 2rem;
    color: #23272a;
    background-image: url(./img/stars.svg);  
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50%;
}

#download{
    background-color: #8ea1e1;
    color: white;
    padding: 1rem;
    border-radius: 30px;
    border: none;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

/* Footer */

footer{
    background-color: #23272a;
    padding-bottom: 5rem;
}

#debug footer{
    height: 902px;
}

/* Footer - Sezione 1 */

.footer-container-1{
    display: flex;
    justify-content: center;
    padding-bottom:40px;
    padding-top: 60px;
}

#debug .footer-container-1{
    border-bottom: 3px solid lightgray;
}

.footer-1-1{
    width: 20%;
}

#debug .footer-1-1{
    background-color: #f08080;
    border: 3px dashed;
    height: 750px;
    margin-top: 10px;
}

#your-place{
    color: #5f71b0;
    font-size: 30px;
}

#ita{
    margin-top: 20px;
    width: 30px;
}

#ita-text{
    color: white;
}

.footer-1-2{
    display: flex;
    flex-direction: column;
    width: 10%;
    line-height: 2rem;
}

#debug .footer-1-2{
    background-color: #20b2aa;
    border: 3px dashed white;
    height: 750px;
    margin-top: 10px;
}

#product{
    color: #5f71b0;
}

.footer-1-3{
    display: flex;
    flex-direction: column;
    width: 10%;
    line-height: 2rem;
}

#debug .footer-1-3{
    background-color: #20b2aa;
    border: 3px dashed white;
    height: 750px;
    margin-top: 10px;
}

.footer-1-4{
    display: flex;
    flex-direction: column;
    width: 10%;
    line-height: 2rem;
}

#debug .footer-1-4{
    background-color: #20b2aa;
    border: 3px dashed white;
    height: 750px;
    margin-top: 10px;
}

.footer-1-5{
    display: flex;
    flex-direction: column;
    width: 10%;
    line-height: 2rem;
}

#debug .footer-1-5{
    background-color: #20b2aa;
    border: 3px dashed white;
    height: 750px;
    margin-top: 10px;
}

 hr{
    width: 70%;
    margin: auto;
    border: 1px solid #303747;
 }
 /* Footer - Sezione 2 */
.footer-container-2{
    display: flex;
    justify-content: space-between;
    width: 70%;
    line-height: 40px;
    margin: auto;
    margin-top: 30px;
}

#debug .footer-container-2{
    background-color: #7fffd4;
    height: 70px;
}
/* Footer - Logo */

#debug .footer-logo-container{
    background-color: #ffc0cb;
    border: 3px dashed;
}

/* Footer - Bottone */
#debug .footer-bottone-container{
    background-color: #ffc0cb;
    border: 3px dashed;
}

.footer-bottone{
    padding: 5px;
    background-color: #8ea1e1;
    color: white;
    padding: 1rem;
    border-radius: 30px;
    border: none;
}


